<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="jquery.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="chatroom.js"></script>
<link rel="stylesheet" type="text/css" href="css/layout.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>
    <h1>room</h1>
    <div class="chatroom">
        <input type="text" name="" id="txtText">
        <button class="btn btn-success" id="createRoom">Tao</button>
    </div>
    <div id="left">
        <h3>Room đang có</h3>
    </div>
    <div id="dsRooms"></div>
    <h4>Bạn đang trong rooms:</h4>
    <div id="roomHienTai" style="background: rebeccapurple">...</div>
    <div id="right"></div>
    <div class="form-chat">
        <input type="text" id="txtMessage">
        <input type="button" id="btnChat" value="Chat">
    </div>
</body>
</html>