<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io("http://localhost:3000");
    </script>
</head>
<body>
    <h1>tran quoc chinh</h1>
</body>
</html>
<script>
    $(document).ready(function(){
        // alert('1111111111');
    })
</script>